logs
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

# Ignorar todo el contenido de la carpeta target
target/

# Pero permitir los archivos de distribución de Play Framework
!target/universal/*.zip
